.main-footer{
    margin-top: auto;
}
.copyrg-sec {
    background: #DDE5EB;
    padding: 13.1px 0;
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #2E2A2A;
        text-align: center;
    }
}